@model AgiSoft.Models.ReleaseInfo

@{
    ViewBag.Title = "Create ReleaseInfo";
}

<link type="text/css" rel="Stylesheet"
    href="http://ajax.microsoft.com/ajax/jquery.ui/1.8.6/themes/smoothness/jquery-ui.css" />
<script type="text/javascript"
    src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js">
</script>
<script type="text/javascript"
    src="http://ajax.microsoft.com/ajax/jquery.ui/1.8.6/jquery-ui.min.js">
</script>
<script type="text/javascript">
    $(function () {
        var options = {
            numberOfMonths: 1,
            changeYear: true,
            yearRange: "-2:+2"
        }
<<<<<<< HEAD
        $("#txtDate,#reqdate,#designdate,#buildcompletedate").datepicker(options);
=======
        $("#reqdate,#designdate,#buildcompletedate,#sitstartdate,#sitenddate,#uatstartdate,#uatenddate,#turndate").datepicker(options);
>>>>>>> Harshad
    });
</script>
<script>
    function CreateRelease(numberToCalculate) {
        $.ajax({
            type: 'Get',
            url: '/ReleaseInfo/ReleaseInfo',
            data: { number: numberToCalculate },
            success: function (data) { window.close(); }
        });
    }
</script>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @Html.Hidden("type", "releaseinfo")

    <fieldset>
        <legend>ReleaseInfos</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.ReleaseYear)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => Model.ReleaseYear)
            @Html.ValidationMessageFor(model => model.ReleaseYear)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.RelMonth)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.RelMonth)
            @Html.ValidationMessageFor(model => model.RelMonth)
        </div>
        <div>
            <table>
                <tr>
                    <td>
                        <div class="editor-label">
                            @Html.LabelFor(model => model.RequirementsDT)
                        </div>
                        <div class="editor-field">
                            <input type="text" title="reqdate" name="reqdate" value="@ViewBag.RequirementsDT" id="reqdate" />
                        </div>
                    </td>
                    <td>
                        <div class="editor-label">
                            @Html.LabelFor(model => model.DesignDT)
                        </div>
                        <div class="editor-field">
                            <input type="text" id="designdate" title="designdate" name="designdate" value="@ViewBag.DesignDT" />
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="editor-label">
                            @Html.LabelFor(model => model.BuildCompleteDT)
                        </div>
                        <div class="editor-field">
                            <input type="text" id="buildcompletedate" title="buildcompletedate" name="buildcompletedate" value="@ViewBag.BuildCompleteDT" />
                        </div>
                    </td>
                    <td>
                        <div class="editor-label">
                            @Html.LabelFor(model => model.SITStartDT)
                        </div>
                        <div class="editor-field">
                            <input type="text" id="sitstartdate" title="sitstartdate" name="sitstartdate" value="@ViewBag.SITStartDT" />
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="editor-label">
                            @Html.LabelFor(model => model.SITEndDT)
                        </div>
                        <div class="editor-field">
                            <input type="text" id="sitenddate" title="sitenddate" name="sitenddate" value="@ViewBag.SITEndDT" />
                        </div>
                    </td>
                    <td>
                        <div class="editor-label">
                            @Html.LabelFor(model => model.UATStartDT)
                        </div>
                        <div class="editor-field">
                            <input type="text" id="uatstartdate" title="uatstartdate" name="uatstartdate" value="@ViewBag.UATStartDT" />
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="editor-label">
                            @Html.LabelFor(model => model.UATEndDT)
                        </div>
                        <div class="editor-field">
                            <input type="text" id="uatenddate" title="uatenddate" name="uatenddate" value="@ViewBag.UATEndDT" />
                        </div>
                    </td>
                    <td>
                        <div class="editor-label">
                            @Html.LabelFor(model => model.TurnDT)
                        </div>
                        <div class="editor-field">
                            <input type="text" id="turndate" title="turndate" name="turndate" value="@ViewBag.TurnDT" />
                        </div>
                    </td>
                </tr>
            </table>
        </div>
        <p>
            <input type="submit" value="Create" onclick="CreateRelease(9);" />
        </p>
    </fieldset>
}
