@model AgiSoft.Models.Projects

@{
    ViewBag.Title = "ProjectsEdit";
}

@if(ViewBag.Type == "project"){
    <h2>ProjectEdit</h2>

    using (Html.BeginForm()) {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        <fieldset>
            <legend>Projects</legend>

            @Html.HiddenFor(m => m.ProjectId)

            <div class="editor-label">
                @Html.LabelFor(m => m.ProjectNum)
            </div>
            <div class="editor-field">
                @Html.EditorFor(m => m.ProjectNum)
                @Html.ValidationMessageFor(m => m.ProjectNum)
            </div>
            <div class="editor-label">
                @Html.LabelFor(m => m.ProjectName)
            </div>
            <div class="editor-field">
                @Html.EditorFor(m => m.ProjectName)
                @Html.ValidationMessageFor(m => m.ProjectName)
            </div>

            <p>
                <input type="submit" value="Save" />
            </p>
        </fieldset>
    }
}


<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/jqueryval")
}
