@{
    ViewBag.Title = "Index";
}

<h2>Assignments</h2>
<nav>
    <ul id="menu">
        <li>@Html.ActionLink("Index", "Index", "Assignment")</li>
        <li>@Html.ActionLink("Create", "Create", "Assignment")</li>
        <li>@Html.ActionLink("Details", "Details/1", "Assignment")</li>
        <li>@Html.ActionLink("Edit", "Edit/1", "Assignment")</li>
        <li>@Html.ActionLink("Delete", "Delete/1", "Assignment")</li>
    </ul>
</nav>
