@Scripts.Render("~/bundles/knockout")

@model AgiSoft.Models.Sprints

@{
    ViewBag.Title = "Create Sprint";
}

<h2>Create Sprint</h2>
    
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @Html.Hidden("type","sprint")
    <fieldset>
        <legend>Sprints</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.SprintNum)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SprintNum)
            @Html.ValidationMessageFor(model => model.SprintNum)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.TeamId)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.TeamId, (SelectList)ViewBag.teamid)
            @Html.ValidationMessageFor(model => model.TeamId)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}