@model List<AgiSoft.Models.Teams>

@{
    ViewBag.Title = "Index";
}

<h2>Team page</h2>
<nav>
    <ul id="menu">
        <li>@Html.ActionLink("Index", "Index", "Team")</li>
        <li>@Html.ActionLink("Member", "Member", "Team")</li>
        <li>@Html.ActionLink("Team Projects", "TeamProject", "Team")</li>
        <li>@Html.ActionLink("Assignments", "Assignment", "Team")</li>
    </ul>
</nav>
<ul>
    <li>
        This will display overview at team level. "Team" can be hierarchical.
        <ul>
            <li>overview: members</li>
            <li>overview: projects</li>
            <li>overview: team member assignments and status (based on role)</li>
        </ul>
    </li>
    <li>
        Links to user/team based controls
        <ul>
            <li>Link to PM area</li>
            <li>Link to Sprint Area</li>
        </ul>
    </li>
    <li>
        Team admin functions (based on role)
        <ul>
            <li>[CRUD] for Team members</li>
            <li>[CRUD] for member assignments</li>
        </ul>
    </li>
</ul>
<br />
<h2>Teams</h2>

<p>
    @Html.ActionLink("Create Team", "TeamsCreate")
</p>

<table style="width: 100%;">
    <tr>
        <td style="width: 50%;">
            <table>
                <tr>
                    <th>Team Names:
                    </th>
                    <th>Team Desc:</th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(rName => item.TeamName)
                        </td>
                        <td>
                            @Html.DisplayFor(rName => item.TeamDesc)
                        </td>
                        <td>
                            @Html.ActionLink("Edit Teams", "TeamsEdit", new { id = item.TeamId }) |
                            @Html.ActionLink("Team Details", "TeamsDetails", new { id = item.TeamId }) |                        
                            @Html.ActionLink("Delete Team", "Delete", "Team", new { id = item.TeamId }, new { id = item.TeamId, onclick = "return confirm('Are you sure you wish to delete this?')" })
                        </td>
                        <td>
                            @Html.ActionLink("Add Member To Team", "MemberTeams", new {id=item.TeamId})
                        </td>
                    </tr>
                }

            </table>
        </td>
    </tr>
</table>