@model List<AgiSoft.Models.UsersOnTeam>

@{
    ViewBag.Title = "Member";
}

<h2>Member</h2>
<nav>
    <ul id="menu">
        <li>@Html.ActionLink("Index", "Index", "Team")</li>
        <li>@Html.ActionLink("Member", "Member", "Team")</li>
        <li>@Html.ActionLink("Team Projects", "TeamProject", "Team")</li>
        <li>@Html.ActionLink("Assignments", "Assignment", "Team")</li>
    </ul>
</nav>

<ul>
    <li>
        View team members
        <ul>
            <li>
                at team level
            </li>
            <li>
                view member info
            </li>
        </ul>
    </li>
    <li>
        admin functions
        <ul>
            <li>
                add/delete members on team (functions are only team related and not system)
            </li>
            <li>
                edit member
            </li>
            <li>
                other admin stuff
            </li>
        </ul>
    </li>
    <li>
        member can edit profile
    </li>
</ul>
<br />
<h2>Members on your team</h2>

<table style="width: 100%;">
    <tr>
        <td style="width: 50%;">
            <table>
                <tr>
                    <th>Member Names:
                    </th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(mem => item.UserProfile.UserName)
                        </td>
                        
                        <td>
                            @Html.ActionLink("Member Details", "MemberDetails", new { id = item.UserId })
                        </td>
                        <td>
                            @Html.ActionLink("Send Message", "Member", new {id=item.UserId}, new { onclick = "alert('This is not implemented yet',)"} )
                        </td>
                    </tr>
                }

            </table>
        </td>
    </tr>
</table>