@model Tuple<List<AgiSoft.Models.webRoles>, List<AgiSoft.Models.RoleGroups>, List<AgiSoft.Models.RolesInGroups>>

@{
    ViewBag.Title = "Roles";
}

<h2>Roles and Groups</h2>

<p>
    @Html.ActionLink("Create Role", "RolesCreate")
    @Html.ActionLink("Create Group", "GroupsCreate")
    @Html.ActionLink("Add Role to Group", "RolesEdit")
</p>
<table style="width:100%;">
    <tr>
        <td style="width:50%;">
            <table>
                <tr>
                    <th>
                        Role Names:
                    </th>
                    <th></th>
                </tr>

            @foreach (var item in Model.Item1) {
                <tr>
                    <td>
                        @Html.DisplayFor(rName => item.RoleName)
                    </td>
                    <td>
                        @Html.ActionLink("Edit Roles", "RolesEdit", new { id=item.RoleId }) |
                        @Html.ActionLink("Role Details", "RolesDetails", new { id=item.RoleId }) |
                        @Html.ActionLink("Delete Role", "RolesDelete", new { id=item.RoleId })
                    </td>
                </tr>
            }

            </table>
        </td>
        <td>
            <table>
                <tr>
                    <th>
                        Role Group:
                    </th>
                    <th></th>
                </tr>

            @foreach (var item2 in Model.Item2) {
                <tr>
                    <td>
                        @Html.DisplayFor(rGroup => item2.GroupName)
                    </td>
                    <td>
                        @Html.ActionLink("Edit Group", "RolesEdit", new { id=item2.RoleGroupId }) |
                        @Html.ActionLink("Group Details", "RolesDetails", new { id=item2.RoleGroupId }) |
                        @Html.ActionLink("Delete Group", "RolesDelete", new { id=item2.RoleGroupId })
                    </td>
                </tr>
            }

            </table>
        </td>
    </tr>
    <tr><td style="height:50px;"></td></tr>
    <tr>
        <td colspan="2">
            <table style="width:100%;">
                <tr>
                    <th style="padding-left:30%;">
                        Roles In Group:
                    </th>
                    <th></th>
                </tr>

            @foreach (var item3 in Model.Item3) {
                <tr>
                    <td>
                        @Html.DisplayFor(group => item3.RoleGroups) - @Html.DisplayFor(role => item3.Roles)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "RolesEdit", new { id=item3.RoleGroupId }) |
                        @Html.ActionLink("Details", "RolesDetails", new { id=item3.RoleGroupId }) |
                        @Html.ActionLink("Delete", "RolesDelete", new { id=item3.RoleGroupId })
                    </td>
                </tr>
            }
            </table>
        </td>
    </tr>
</table>