@model Tuple<AgiSoft.Models.webRoles, AgiSoft.Models.RoleGroups, List<AgiSoft.Models.RolesInGroups>, List<AgiSoft.Models.webRoles>>

@{
    ViewBag.Title = "RolesEdit";
}

<script type="text/javascript">
    $(init);

    function init() {
        $('.dragRole').draggable(
            {
                stack: '#dragRole ul',
                cursor: 'move',
                revert: 'invalid'
            });
        $('#rGrp').droppable(
            {
                stack: '#dragRole ul',
                hoverClass: 'rConHover',
                drop: function (event, ui) {
                    $(ui.draggable).detach().css({ top: 0, left: 0 }).appendTo(this);
                    var rid = $(ui.draggable).id;
                    
                }
            });

        $('#rContain').droppable(
            {
                stack: '#dragRole ul',
                hoverClass: 'rConHover',
                drop: function (event, ui) {
                    $(ui.draggable).detach().css({ top: 0, left: 0 }).appendTo(this);
                    
                }
            });
    }
</script>

@if(ViewBag.Type == "role"){
    <h2>RolesEdit</h2>

    using (Html.BeginForm()) {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
            @Html.Hidden("type","role")

        <fieldset>
            <legend>webpages_Roles</legend>

            @Html.HiddenFor(m => m.Item1.RoleId)

            <div class="editor-label">
                @Html.LabelFor(m => m.Item1.RoleName)
            </div>
            <div class="editor-field">
                @Html.EditorFor(m => m.Item1.RoleName)
                @Html.ValidationMessageFor(m => m.Item1.RoleName)
            </div>

            <p>
                <input type="submit" value="Save" />
            </p>
        </fieldset>
    }
}

@if(ViewBag.Type == "group"){
    <div style="position:relative;float:left;">
        <h2>Edit Group Name</h2>

        @using (Html.BeginForm()) {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
            @Html.Hidden("type","grp")
            <fieldset>
                <legend>Role Groups</legend>
                <input data-val="true" data-val-number="The field RoleGroupId must be a number." data-val-required="The RoleGroupId field is required." 
                    id="RoleGroupId" name="RoleGroupId" type="hidden" value="@Model.Item2.RoleGroupId" />

                <div class="editor-label">
                    @Html.LabelFor(m => m.Item2.RoleGroupId)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(m => m.Item2.GroupName)
                    @Html.ValidationMessageFor(m => m.Item2.GroupName)
                </div>
                <br /><br />
                <div class="editor-label">
                    @Html.LabelFor(m => m.Item2.Description)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(m => m.Item2.Description)
                    @Html.ValidationMessageFor(m => m.Item2.Description)
                </div>

                <p>
                    <input type="submit" value="Save" />
                </p>
            </fieldset>
        }
     </div>
     <div style="position:relative;float:right;min-width:500px;">
        <h2>Edit Roles in Group</h2>

         @using (Html.BeginForm()) {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
            @Html.Hidden("type","rg")

             <table style="min-height:200px;" onload="init();">
                 <tr>
                     <td style="vertical-align:top;">                         
                         <table style="width:300px;">
                             <tr>
                                 <th>
                                     @Html.LabelFor(l => l.Item2.RoleGroupId)
                                 </th>
                                 <th>
                                     <label>Roles in Group</label>
                                 </th>
                             </tr>
                             <tr style="vertical-align:top;">
                                  <td style="text-align:center;">@Html.DisplayFor(d => d.Item2.GroupName)</td>
                                   <td>
                                       <div style="text-align:center; border:1px solid #000;min-height:200px;width:100px">
                                           <ul id="rContain">
                                               @if(Model.Item3.Count>0){
                                                   foreach (var i in Model.Item3) {
                                                   <li>
                                                       <div id="@i.Roles.RoleId" class="dragRole">@i.Roles.RoleName</div>
                                                   </li>
                                                   }
                                               }
                                           </ul>
                                       </div>
                                   </td>
                             </tr>           
                         </table>
                     </td>
                     <td style="vertical-align:top;">
                         <table>
                             <tr>
                                 <th>
                                     <label>All Roles</label>
                                 </th>
                             </tr>
                             <tr>
                                 <td colspan="2">
                                     <div style="text-align:center; border:1px solid #000;min-height:200px;width:100px">
                                         <ul id="rGrp">
                                         @foreach (var r in Model.Item4) {
                                             string s = r.RoleName;
                                             foreach (var n in Model.Item3) {
                                                 if (r.RoleName.Equals(n.Roles.RoleName)) {
                                                     s = "";
                                                 }                                             
                                             }
                                             if (!s.Equals("")) {
                                                 <li id="@r.RoleId" class="dragRole">@r.RoleName</li>
                                             }
                                         }
                                         </ul>
                                     </div>
                                 </td>
                             </tr>
                         </table>                         
                     </td>                     
                 </tr>
             </table>
             <p>
                <input type="submit" value="Save" />
            </p>
         }
   </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/jqueryval")
}