@model AgiSoft.Models.RolesInGroups

@{
    ViewBag.Title = "vRig";
}

<h2>vRig</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>RolesInGroups</legend>

        @Html.HiddenFor(model => model.RoleId)

        @Html.HiddenFor(model => model.RoleGroupId)

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
